* 
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    
}


body 
{
    background: $white;
}


.site-wrap 
{
    position: relative;
    width: 1200px;
    margin: 0% auto;
    background: $white;
    background:  $white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}


.section_container 
{
    padding: 60px 20px;
    position: relative;
    scroll-snap-align: center
}

.second_section_container 
{
    padding: 0%;
    position: relative;
    scroll-snap-align: center
}






















